<li>
  <%= answer.body %><br>
  <%= link_to 'Открыть', admins_test_question_answer_path(@question.test, @question, answer) %> |
  <%= link_to 'Редактировать', edit_admins_test_question_answer_path(@question.test, @question, answer)%> |
  <%= link_to 'Удалить',
              admins_test_question_answer_path(@question.test, @question, answer),
              data: { turbo_method: :delete, turbo_confirm: "Вы уверены?" } %>
</li>
