<h3>Создать новый вопрос</h3>
<%= form_with model: @question, url: test_questions_path(@test), local: true do |form| %>
  <%= render 'form', form: form %>
  <p><%= form.submit 'Создать вопрос' %></p>
<% end %>
<%= link_to 'Назад', test_path(@question.test) %>