<h2>TestGuru</h2>
<p>Создавайте и проводите викторины на онлайн и офлайн мероприятиях</p>
<p>Вовлекайте учеников в интерактивную игру и автоматизируйте оценку знаний</p>
<p>Проведите интерактивный квиз на вашем мероприятии</p>
<p>Создайте квиз самостоятельно от 5 минут
  или закажите услуги викторины "под ключ"<br><br><br><br></p>
<p><b>p.s. Не поняла, какая тематика сайта и какое описание проекта должно быть - пока все описание скопировала с myquiz.ru</b></p>
<p>Создано при обучении в онлайн-школе <a href="<%= @thinknetica_link %>" target="_blank">thinknetica</a></p>