<h1>Редактирование ответа</h1>
<p>
  <%= @answer.question.body %>
</p>

<%= render "form", answer: @answer %>
<div>
  <%= link_to "Открыть этот ответ", @answer %> |
  <%= link_to "Вернуться к ответам", question_path(@answer.question)%>
</div>
