
.navigation {

}

.navigation a {
  color: #fff;
  text-decoration: none;
}

.logo img {
  max-height: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  /*color: #333;*/
  font-weight: bold;
}

footer {
  height: 150px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #FEFFFF;
  /*color: #17252A;*/
  left: 0;
  padding: 0;
  margin: 0;
  text-align: center;
}

.info p {
  margin-left: 20px;
}

.info p:first-child {
  margin-top: 40px;
}

.contact p {
  margin: 0;
}

.contact p:last-child {
  margin-bottom: 1em;
}

.social a {
  margin-right: 10px;
}

.form-check {
  margin-bottom: 10px;
}

.next-button {
  margin-top: 200px;
}

.text-success { color: green; }

.text-fail { color: red; }

.flash{
  border: 2px solid;
  padding: 10px;
  border-radius: 5px;
}

.flash.alert {
  border-color: #ef2727;
}

.flash.notice {
  border-color: #3c85e0;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f9fa;
}

.project-link {
  /*background-color: #17252A;*/
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
}

.nav-link {
  /*background-color: #17252A;*/
  margin-left: 10px;
  color: #007bff;
  text-decoration: none;
}

.nav-link:hover {
  /*background-color: #17252A;*/
  text-decoration: underline;
}

.nav.nav-admin {
  height: 35px;
  padding: 15px;
  line-height: 35px;
  color: #ffffff;
  background-color: #4293e6;
  margin-bottom: 40px;
}

.nav-admin.title {
  font-size: 140%;
  font-weight: bold;
}

.nav-admin.user {
  float: right;
}

.nav-admin.user-email {
  text-decoration: underline;
}

.nav.nav-admin
a {
  color: #ffffff;
}

.progress-container {
  height: 20px;
  background-color: grey;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px;
  width: 100%; 
}

.progress-bar {
  height: 100%;
  width: 0%; 
  background-color: green;
  transition: width 0.3s ease;
}


